.project-main {
  margin-top: 24px;
  display: flex;
}

.project-side {
  width: 200px;
  user-select: none;
}

.project-content {
  flex: 1;
  padding: 0 16px;
}

.project-title {
  margin-bottom: 0;
}

.project-desc {
  color: #999;
  margin-top: 8px;
}

.project-file-list {
  list-style: none;
  margin: 0;
  padding: 0;

}

.project-file-icon {
  width: 100%;
}

.project-file-cover {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-file-cover-icon {
  font-size: 50px;
}

.project-file-cover-img {
  max-width: 100px;
  max-height: 100px;
}

.project-file-item {
  width: 120px;
  padding: 10px 10px 0;
  border: 1px solid transparent;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  position: relative;

  &:hover {
    background-color: #fafafa;
    border: 1px solid #eee;
  }
}

.project-file-label {
  width: 100%;
  word-break: break-all;
  overflow: hidden;
  /*将对象作为弹性伸缩盒子模型显示*/
  display: -webkit-box;
  /*设置子元素排列方式*/
  -webkit-box-orient: vertical;
  /*设置显示的行数，多出的部分会显示为...*/
  -webkit-line-clamp: 2;
}

.project-file-time {
  color: #999;
  font-size: 11px;
}

.project-file-action {
  right: 10px;
  height: 10px;
  position: absolute;
}

.project-bread {
  margin-bottom: 24px;
  a {
    font-size: 18px;
  }
}