.project-tree {
  height: 100%;
}

.project-tree-main {
  height: calc(100% - 30px);
  display: flex;
  position: relative;
}

.project-tree-side {
  height: 100%;
  display: flex;
  flex-direction: column;

  &-extra {
    flex: 1;
  }
}

.project-tree-content {
  flex: 1;
  position: relative;
  height: 100%;
}

.tree-item-content {
  height: 100%;
}

.project-tree-title {
  display: flex;
  justify-content: space-between;
}

.project-tree-contnet-header {
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  position: absolute;
}

.tree-item-file-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;

  img {
    max-width: 100%;
    max-height: 100%;
  }

  .ace_editor {
    width: 100%;
    height: 100% !important;
  }
}

.tree-item-file-content-text {
  font-size: 20px;
}

.project-tree-item {
  cursor: pointer;
}

.project-tree-item-title {
  height: 30px;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.active {
    color: #fff;
    background-color: #1890ff;
  }
}

.ant-tree-node-content-wrapper {
  word-break: break-all;
}

.project-upload-layer {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 11;
  position: absolute;
  text-align: center;

  input[type='file'] {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

.project-upload-text {
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 30px;
  position: absolute;
  transform: translateX(-50%);
}

.project-opacity-input {
  top: -100px;
  left: -100px;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  position: fixed;
}

.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}
